body {
  justify-content: center; 
  align-items: center;
  overflow-x: hidden;
}
.flight-reservation {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }
  
  .header {
    background-color: #fff;
    color: #000;
    font: 400 24px/150% Krona One, sans-serif;
    letter-spacing: -0.24px;
    padding: 30px 54px;
    width: 100%;
  }
  
  .section_img {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 350;
    justify-content: center;
    line-height: 120%;
    min-height: 524px;
    overflow: hidden;
    padding: 70px 24px;
    position: relative;
    width: 100%;
  }
  
  .hero-image {
    height: 100%;
    inset: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
  }
  
  .content_img {
    display: flex;
    flex-direction: column;
    margin: 115px 0 48px;
    position: relative;
    width:100%;
  }
  
  .hero-title {
    font: 700 72px Inter, sans-serif;
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .subtitle_img {
    font: 20px Inter, sans-serif;
    margin-top: 0px;
    text-align: center;
  }
  
  .botones_img {
    align-self: center;
    display: flex;
    font-size: 16px;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
  }
  
  .boton_registro,.boton_reservar {
    background-color: rgba(255, 255, 255, 0.254);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-family: Inter, sans-serif;
    padding: 12px;
    width: 90px;
  }
  
  .boton_registro:hover, .boton_reservar:hover{
    background-color: #f7f7f7;
    color: rgba(22, 81, 128);
  }
  /*TRANSFORMACION*/
  .boton_registro:hover,
  .boton_reservar:hover, .boton-borrar:hover, .boton-guardar:hover, .boton-eliminar:hover,
  .boton-volver-seccion-reservacion:hover, .boton-aceptar:hover, .boton-pagar:hover,
  .boton-volver-tabla-registro:hover
  {
      transform: scale3d(1.1,1.1,1);
      transition: 0.10s;
      box-shadow: 0 4px 4px 0 rgba(22, 81, 128, 1);
      transition: all 0.5s;
  }

  /*panel de reserva*/
 
  .reservation-panel {
    align-self: center;
    background-color: #fff;
    border: 1px solid rgba(245, 245, 245, 1);
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    max-width: 100%;
    padding: 20px 50px;
    width: 850px;
  }
  
  .reservation-form {
    padding: 20px;
    max-width: 100%;
    width: 700px;
    
    justify-content: center; 
    align-items: center;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .form-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    
  }
  
  .columna_izq {
    width: 45%;
  }
  
  .columna_der {
    width: 45%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    
  }
  
  .form-title {
    color: #000;
    font: 28px/129% Roboto, sans-serif;
    letter-spacing: 0;
  }
  
  .form-label {
    font-family: Inter, sans-serif;
    margin-top: 16px;
  }
  
  .form-input {
    background-color: var(--sds-color-background-default-default);
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 5px;
    font-family: Inter, sans-serif;
    justify-content: center;
    line-height: 100%;
    margin-top: 8px;
    padding: 12px 16px;
  }
  

  .luggage-section {
    color: #000;
    font: 400 24px/133% Roboto, sans-serif;
    letter-spacing: 0;
    margin: 47px 0 0 0;
  }
  
  .luggage-container {
    align-self: center;
    max-width: 100%;
    width: 677px;
  }
  
  .luggage-row {
    display: flex;
    gap: 40px;
  }
  
  .luggage-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
  }
  
  .luggage-panel {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

  }
  
  .luggage-item {
    font-family: Inter, sans-serif;
  }
  
  .luggage-input, .lista-despegable{
    background-color: var(--sds-color-background-default-default);
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 5px;
    font-family: Inter, sans-serif;
    justify-content: center;
    line-height: 100%;
    margin: 8px 0px 20px;
    padding: 12px 20px;
    text-align: right;
  }
   
  .lista-despegable {
    text-align: left;
  }
  .seat-map {
    align-items: start;
    background-color: #fff;
    border: 1px solid rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    padding: 76px 35px 60px 30px;
    width: 100%;
}

.seat-row {
    align-self: center;
    color: #452891;
    display: flex;
    gap: 4px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 5px;
}

.seat-number {
    flex-grow: 1;
    font: 400 16px Montserrat, sans-serif;
    margin: auto 0;
}

.seat-group {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    gap: 0;
}


.seat {
    background-color: #ffffff;
    border: 1px solid rgb(32, 1, 110);
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    justify-content: center;
    padding: 8px 0;
    width: 20px;
    height: 10px;
}

/*transicion en las sillsas hover, active, visite*/
.seat:hover{ /*cuando el mouse pasa por la silla*/
  background-color: rgb(54, 3, 196);
}
.seat:active{
  background-color: #3403b0;
  border-color: #00fbff;
}

.seat-selected {
  background-color: rgb(0, 61, 111);
  color: #fff;
  border-color: rgb(63, 0, 222);
}


/*take it    seat-unavailable
.seat-unavailable{
  background-color: ; gris claro
  border-color: #00fbff;
}
*/

.area-sanitarios-insumos {
    background-color: #2292ee;
    border-radius: 5px;
    width: 41px;
}

/* Reglas específicas para las filas con números 41 a 43 */
.seat-row:nth-child(12) .seat-group span:nth-child(3),
.seat-row:nth-child(13) .seat-group span:nth-child(3),
.seat-row:nth-child(14) .seat-group span:nth-child(3)
 {
    margin-left: 11px;
}

.seat-row:nth-child(12) .seat-group span:nth-child(6),
.seat-row:nth-child(13) .seat-group span:nth-child(6),
.seat-row:nth-child(14) .seat-group span:nth-child(6),
.seat-row:nth-child(15) .seat-group span:nth-child(6) {
    margin-right: 11px;
}

/*caso de fila 15 es decir 44 */
.seat-row:nth-child(15) .seat-group span:nth-child(1){
    margin-right: 7px;
    margin-left: 10px;
}
.seat-row:nth-child(15) .seat-group span:nth-child(6){
    margin-left: 7px;
}

/* Reglas para filas generales que no deberían afectar a los números específicos */
.seat-row:not(:nth-child(12)):not(:nth-child(13)):not(:nth-child(14)):not(:nth-child(15)) .seat-group span:nth-child(3) {
    margin-left: 5px;
}

.seat-row:not(:nth-child(12)):not(:nth-child(13)):not(:nth-child(14)):not(:nth-child(15)) .seat-group span:nth-child(7) {
    margin-right: 5px;
}

/* Asegurando que las reglas no afecten a los números 30 y 45 */
.seat-row:nth-child(1) .seat-group span:nth-child(3),
.seat-row:nth-child(16) .seat-group span:nth-child(3) {
    margin-left: 0px;
    gap: 2px;
}
 

  .action-buttons{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    gap: 20px;
    letter-spacing: 0.1px;
    line-height: 143%;
    margin-top: 50px;
    margin-bottom: 50px;
    white-space: nowrap;
    justify-content: center;

    margin-left: 20%;
  }
  

  /*BOTONES*/
  .boton-borrar, .boton-guardar
  {
    width: 90px;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0 #d7d7d7;
    height: 35px;
    margin-top: 20px;
    color: #3403b0;
    margin-left: 10px;
    gap: 0px;
  }
  
  .boton-volver-tabla-registro, .boton-volver-seccion-reservacion{
      background-color: #ffffff;
      border: 3px solid #3403b0;
      border-radius: 50px;
      font-family: Inter, sans-serif;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      cursor: pointer;
  }
  .boton-volver-seccion-reservacion i, .boton-volver-tabla-registro i {
    font-size: 16px; /* Tamaño del ícono */
  }

  /*panel de registro*/
  .registro-panel{
    /* Esto es en realidad el valor predeterminado, pero asegúrate de que no esté configurado en flex */
    display: block;
  }

  .registro-panel table {
    display: block;
    width: 100%; /* Opcional: hace que el botón y la tabla ocupen todo el ancho del contenedor */
    margin-bottom: 10px; /* Opcional: agrega espacio entre el botón y la tabla */
  }

/*TABLAS DE RESERVA Y COSTOS*/
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right; /* Align all cells to the right by default */
  }
  
  th.left-align, td.left-align {
    text-align: left; /* Override alignment for the first column */
    width: 45%;
  }
  
  th {
    background-color: #452891;
    color: #fff;
    font: 14px Inter, sans-serif;
  }
  td {
    font: 14px Inter, sans-serif;
  }
  .columna-cantidades{
    width: 10%;
  }
  .columna-botones {
    width: 5%;
  }
  .boton-eliminar {
    background-color: rgb(200, 0, 0);
    border: 2px solid rgb(200, 0, 0);
    color: white;
    border-radius: 3px;
  }
 


/*PANEL DE PAGO*/
.payment-method {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 56px;
  border-radius: 10px;
  background-color: #fff;
  width: 55%;
  align-self: center;

}

.payment-container {
  display: flex;
  flex-direction: column;
  padding: 77px 80px;
  margin-top: 9px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.payment-content {
  width: 100%;
  max-width: 800px;
  align-self: center;
}

.payment-options {
  display: block;
  gap: 20px;
}

.payment-title {
  color: #452891;
  font: 400 28px/129% Roboto, sans-serif;
  letter-spacing: 0;
}

.payment-subtitle {
  color: #000;
  font: 500 16px/150% Roboto, sans-serif;
  letter-spacing: 0.15px;
  margin-top: 21px;

}

.card-options {
  display: flex;
  margin-top: 34px;
  width: 100%;
  align-items: flex-start;
  gap: 40px;
}

.card-option {
  display: flex;
  gap: 12px;
  flex: 1;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s;
}

.card-logo:hover{
  transform: scale(1.05);
}

.card-logo {
  width: 60px;
  height: 35px;
}

.card-form {
  border: 1px solid #b9b9b9;
  margin-top: 50px;
  width: 430px;
  max-width: 100%;
  padding: 30px 61px;
  align-self: center;
  border-radius: 10px;
}

.form-title-pay {
  color: #000;
  font: 500 16px/150% Roboto, sans-serif;
  letter-spacing: 0.15px;
}

.form-group-pay {
  margin-top: 10px;
  font: 400 14px/140% Inter, sans-serif;
}

.form-input-digitos-tarjeta,
.form-input-nombre-tarjeta,
.form-date-input,
.form-security-input 
{
width: 93%;
margin-bottom: 5px;
border-radius: 4px;
border: 1px solid #d9d9d9;
background-color: #fff;
margin-top: 8px;
height: 40px;
padding: 0px 15px;
line-height: 100%;
align-items: center;
}

.boton-pagar{
  margin-top: 30px;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color:  rgb(54, 3, 196);
  border-radius: 5px;
  border: none;
  color: #ffffff;
}


@media (max-width: 991px) {
  .payment-method {
    padding: 0 20px;
  }
  .payment-container {
    max-width: 100%;
    padding: 0 20px;
  }
  .payment-content {
    max-width: 100%;
    padding-right: 20px;
  }
  .payment-options {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .card-options {
    padding-right: 20px;
  }
  .card-form {
    margin-top: 40px;
    padding: 0 20px;
  }
}


  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .hero-section {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .hero-content {
      margin: 40px 0;
    }
  
    .hero-title {
      font-size: 40px;
    }
  
    .hero-button-primary {
      white-space: initial;
    }
  
    .reservation-panel {
      margin-top: 40px;
      padding: 0 20px;
    }
  
    .form-row {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .form-column {
      width: 100%;
    }
  
    .form-group {
      margin-top: 40px;
    }
  
    .form-input {
      white-space: initial;
      margin: 0 10px;
    }
  
    .form-divider {
      max-width: 90%;
      margin-top: 50px;
    }
  
    .luggage-section {
      margin: 40px 0 0 10px;
    }
  
    .luggage-row {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .luggage-column {
      width: 100%;
    }
  
    .luggage-panel {
      margin-top: 40px;
    }
  
    .luggage-item,
    .luggage-input {
      margin: 0 10px;
    }
  
    .seat-selection-button {
      margin: 0 10px;
      padding: 0 20px;
    }
  
    .seat-map {
      margin-top: 40px;
      padding-right: 20px;
    }
  
    .seat-row,
    .seat-group {
      white-space: initial;
    }
  
    .action-buttons {
      margin-top: 40px;
      white-space: initial;
    }
  
    .action-button {
      white-space: initial;
      padding: 0 20px;
    }
}
.seat.seleccionado {
  background-color: rgb(54, 3, 196);
}

.seat.ocupado{
  background-color: #d00000;
}

.seat.deshabilitado{
  background-color: #e4e4e450;
  border:  #ffffff;
  color: #ffffff;
}

